@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241);
}

#main-heading {
    font-family: "Indie Flower", cursive;
    text-align: center;
    font-size: 4rem;
    margin-top: 0px;
}

#text-container {
    text-align: center;
    margin-top: 50px;
    font-family: "Nunito", sans-serif;
}

#header-container {
    margin-top: 30px;
}

#logo {
    text-align: center;
    margin-bottom: 70px;
}

.user-avatar {
    border-radius: 100px;
    text-align: center;
    width: 200px;
    margin: auto;
}

#logo {
    margin-top: 30px;
    width: 120px;
    box-shadow: none;
    display: inline;
}

#logo-container {
    text-align: center;
    margin-bottom: -40px;
}

img {
    border-radius: 100px;
    width: 200px;
    margin: 10px 0px 50px 0px;
    box-shadow: 1px 2px 5px rgb(156, 156, 156);
}

.repo {
    box-shadow: 1px 2px 5px rgb(156, 156, 156);
    border-radius: 10px;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

/* odd is the left side and even is the right side */

.repo:nth-child(odd)::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -12px;
    background: #ffffff !important;
    border: 4px solid rgb(54, 54, 54);
    border-radius: 16px;
    z-index: 1;
}

.repo:nth-child(even)::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 4px solid rgb(54, 54, 54);
    border-radius: 16px;
    z-index: 1;
}

.repo:nth-child(odd) {
    padding: 10px 20px;
    position: relative;
    background: white;
    width: 50%;
    left: 0;
    margin-left: -50px;
}

.repo:nth-child(even) {
    padding: 10px 20px;
    position: relative;
    background: white;
    width: 50%;
    left: 50%;
    margin-left: 50px;
}

.repo:nth-child(even)::after {
    left: -8px;
}

.repo:nth-child(odd)::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    top: calc(50% + 1px);
    right: -50px;
    background: rgb(54, 54, 54);
    z-index: 1;
}

.repo:nth-child(even)::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    top: calc(50% + 1px);
    background: rgb(54, 54, 54);
    z-index: 1;
}

.repo:nth-child(even)::before {
    left: -50px;
}

.repo:nth-child(odd) {
    right: -75px;
}

.user-repos {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
}

.user-repos::after {
    content: "";
    position: absolute;
    width: 4px;
    background: rgb(54, 54, 54);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    margin-top: 284px;
    z-index: -1;
}

.forks {
    color: palevioletred;
    display: inline-block;
    margin: 10px;
}

.stars {
    color: rgba(203, 173, 0, 0.909);
    display: inline-block;
    margin: 10px;
}

.watchers {
    color: rgb(15, 138, 209);
    display: inline-block;
    margin: 10px;
}

span {
    padding: 5px;
}
